@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    box-sizing: border-box;
}

:root {
    --primary-color: #351898;
    --black-color: #111;
}

body{
    background-color: #C4A4D4;
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: var(--black-color);
    display: inline-block;
    font-size: 2rem;
}

.container {
    padding: 20px;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}

.meal{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    display: flex;
}

.meal-img {
    flex: 1;
}

.meal-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.meal-details{
    flex: 2;
    padding: 30px;
}

.meal-title{
    color: var(--primary-color);
    margin: 0 0 20px;
}

.meal-instructions{
    font-size: 14px;
}

.meal-info{
    list-style-type: none;
    padding: 0;
    display: flex;
}

.meal-info li{
    color: #555;
    font-size: 14px;
    font-weight: 300;
    margin-right: 50px;
}

.meal-info li strong{
    color: var(--primary-color);
    display: block;
    font-size: 18px;
}
